<nav aria-label="breadcrumb" role="navigation" style="margin-top: 1%;" xmlns="http://www.w3.org/1999/html">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="newproduct">Mes produits</a></li>
  </ol>
</nav>

<br>



<table class="table">
  <caption>Mes produits</caption>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" >Produit</th>
    <th scope="col" style="text-align: center;">Prix min</th>
    <th scope="col" style="text-align: center;">Prix max</th>

    <th scope="col" style="text-align: center;"> Nombre de propositions </th>
    <th scope="col">  </th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngFor="let prod of Products ;let i = index; " >
  <tr>

    <td  scope="row"> <span class="badge badge-dark"> {{ i+1 }} </span></td>
    <td><a (click)="PickInfo(prod.idpr)"  data-toggle="modal" data-target="#Modal1" STYLE="text-decoration: underline; color: 	#005b96;" >   <i class="fa fa-info-circle" aria-hidden="true"></i> {{ prod.title }}  </a></td>
    <td style="text-align: center;"> {{prod.pricemin }} € </td>
    <td style="text-align: center;"> {{prod.pricemax }} € </td>
    <td style="text-align: center;"> <span class="badge badge-pill badge-danger">4</span> </td>
    <td>

      <a   (click)="DeleteProduct(i,prod.idpr)"   data-toggle="tooltip" title="Supprimer"  class="pull-right" style=""> <i class="fa fa-window-close fa-2x" Style="color: #e34545;" aria-hidden="true"></i> </a>

      <a   (click)="GoDons(prod.idpr);" ONCLICK="history.go(0);" data-toggle="tooltip" title="Passer en don"  class="pull-right" style="margin-right: 4%;"> <i class="fa fa-handshake-o fa-2x" Style="color: #66c0b7;" aria-hidden="true"></i> </a>

      <a   (click)="PickInfo(prod.idpr)" (click)="UpdateProduct(prod.idpr)"   data-toggle="modal" data-target="#Modal3"  class="pull-right" style="margin-right: 4%;"> <i class="fa fa-pencil-square fa-2x" Style="color: #e34545;" aria-hidden="true"></i> </a>

      <a   (click)="ViewProductDetail(prod.idpr)" data-toggle="tooltip" title="Voir les offres"  class="pull-right" style="margin-right: 4%;" > <i class="fa fa-tasks fa-2x" Style="color: #17333e;" aria-hidden="true"></i> </a>

    </td>

  </tr>
  </ng-container>

  </tbody>
</table>



<!-- Consulter un produit  -->



<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5  class="modal-title" id="exampleModalLabel"  > {{ PrName }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">

        <div class="row">
          <div class="col-sm-6">
            <p class="card-text" Style="height: 200px;">  {{ Prdescription }}         </p>
            <p class="card-text"> Compris entre <span class="badge badge-dark">  {{ PrPrixmin }} € </span> & <span class="badge badge-danger">{{ PrPrixmax }} €  </span>    </p>
            <p class="card-text"> Expire le :    </p>


          </div>

          <div class="col-sm-6">
            <img class="card-img-top" width="50" height="300" src="./assets/image/{{PrPicture}}" alt="image">
          </div>



        </div>

      </div>

    </div>
  </div>
</div>












<!-- Modification -->



<div   class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">


      <div class="modal-header">
        <h5  class="modal-title" id="exampleModalLabel"  >  <i class="fa fa-plus-square" aria-hidden="true"></i> Modifier un produit </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">

        <div class="row">


          <div class="col-sm-12">
            <form (submit)="UpdateProduct($event)"   Style="text-align: center;">


              <div class="form-group">
                <div class="col">
                  <input type="text" class="form-control" value="{{ PrName }}" placeholder="Intitulé">
                </div>
              </div>

              <div class="form-group">
                <div class="col">
                  <input type="text" class="form-control" value="{{ Prdescription }}" placeholder="Description">
                </div>
              </div>



              <div class="form-group">
                <div class="col">
                  <input type="date" class="form-control" value="{{PrdateExpiration}}" placeholder="Date limite">
                  <p> Editer la date d'expiration de la publication. </p>
                </div>
              </div>



              <button  type="submit" ONCLICK="history.go(0);" class="btn btn-primary pull-right"> Mise à jour  </button>


            </form>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>


