<br>
<br>
<br>

<div class="row">


  <div class="col col-lg-4"></div>

  <div class="col col-lg-4">

    <h3>Nouvelle inscription</h3> <br>


    <form (submit)="RegisterUser($event)"   Style="text-align: center;">
      <div class="row">
        <div class="col">
          <input type="text" maxlength="50" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
          <input type="text" maxlength="50" class="form-control" placeholder="Prénom">
        </div>
      </div>
      <br>


      <div class="form-group">
        <div class="col">
          <input type="email" maxlength="50" class="form-control" placeholder="Mon e-mail">
        </div>
      </div>

      <div class="form-group">
        <div class="col">
          <input type="number"  maxlength="50" class="form-control" placeholder="Mon telephone">
        </div>
      </div>

      <div class="form-group">
        <div class="col">
          <input type="password"  maxlength="50" class="form-control" placeholder="Mot de passe">
        </div>
      </div>


      <button  type="submit" class="btn btn-primary pull-right"> Enregistrer </button>
    </form>

  </div>


</div>


